nav {
  background-color: #216b53;
  display: grid;
  grid-template-columns: 0.75fr 0.75fr 1fr 0.75fr 0.5fr;
  grid-template-rows: 1fr;
  height: 60px;
}

nav a {
  align-items: center;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  text-decoration: none;
}

.purple {
  background-color: #463f81;
}

.blue {
  background-color: #187cf9;
}
