.login__container {
  align-items: center;
  background-image: linear-gradient(to right, #3361cc, #88a1d8);
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-sub__container {
  align-items: center;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  display: flex;
}

.login-image {
  border-radius: 10px 0 0 10px;
  width: 400px;
}

.login-rightSide {
  padding: 40px;
}

h1 {
  text-align: center;
}

.login-body {
  display: flex;
  flex-direction: column;
}

.login-title {
  margin: 5px 0 0;
}

.login-input {
  border-radius: 5px;
  padding: 5px;
}

.login-button {
  margin-top: 5px;
  width: 100%;
}
