.login__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-body {
  display: flex;
  flex-direction: column;
}

.login-title {
  margin-bottom: 0;
}

.login-button {
  margin-top: 5px;
}
