.product-card__container {
  align-items: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: space-between;
  min-height: 128px;
  width: 180px;
}

.product-card__container__image {
  height: 180px;
  margin: 0 auto;
  max-width: 180px;
}

.product-card__container__price {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  font-weight: 600;
  margin-left: -9%;
  padding: 4px 8px;
  position: absolute;
}

.product-card__container__title {
  margin: 8px auto auto;
  max-width: 90%;
}

.product-card__container__footer {
  align-items: center;
  background-color: rgba(128, 128, 128, 0.2);
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 100%;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.product-card__container__button-sub, .product-card__container__button-sum {
  background-color: rgb(0, 100, 80);
  border-radius: 0;
  color: aliceblue;
  font-weight: 900;
  height: 28px;
  margin: auto auto 8px;
  padding: 0;
  width: 32px;
}

.product-card__container__button-sub {
  border-radius: 8px 0 0 8px;
}

.product-card__container__button-sum {
  border-radius: 0 8px 8px 0;
}

.product-card__container__value {
  background-color: aliceblue;
  border: 1px solid gray;
  height: 24px;
  text-align: center;
  width: 20px;
}
