.div-mainDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.cards-sections {

  /* background-color: hotpink; */

  /* height: 280px; */

  /* height: 486px; */

  /* justify-content: center; */

  /* align-items: center; */
  box-shadow: 0 4px 4px 0  #b1c2be;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 20px;
  width: 280px;
}

.div-btn-mainDiv {
  align-items: center;
  background-color: lightgray ;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 80px;
  margin: 0;
  width: 100%;
}

.div-btn-handlers {
  align-items: center;
  bottom: 33px;
  display: flex;
  justify-content: center;
  position: relative;
}

.btn-handlers {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.imgs-element-cards {

  /* width:150px; */

  /* width:230px; */

  /* height: 150px; */

  /* margin-top: 25px; */

  /* position: absolute; */
  display: flex;
  height: 270px;
  width:100%;
}
.div-price {

  /* background-color:  #F2FFFC; */
  background-color:  rgba(242, 255, 252, 0.75);
  font-weight: bold;
  margin-left: 16px;
}
