.App-register {
  border: 1px solid grey;
  border-radius: 2px;
  height: auto;
  padding: 10px;
}

.buttom-register {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.conteiner-login-register {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.form-register label {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.form-register span {
  color: rgb(241, 156, 156);
  padding: 5px 20px 15px 0;
}

.form-register button {
  font-size: 20px;
  height: 40px;
  width: 150px;
}
