
.customer-navbar{
  background-color: #ffc107;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.inner-customer-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  a, span {
    color: #000;
    text-decoration: none;
    letter-spacing: 0.15em;    
    display: inline-block;
    padding: 20px 20px 10px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: chocolate;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }
}