.card-container {
  border: solid 1px #dfdfdf;
  border-radius: 4px;
  margin: 10px;
  padding: 0 10px 20px 10px;
}

.product-price {
  border-radius: 5px;
  background-color: #ffc10738;
  padding: 5px 0;
  text-align: center;
  width: 40%
}

input {
  text-align: center;
}