.container-test {
  position: relative;
}

.price-tag {
  left: 20%;
  position: absolute;
  top: 80%;
}

.clear-button-style {
  background: none;
  border: none;
  color: green;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}
