.floating-total {
  background-color: #036b52;
  color: white;
  display: block;
  height: 40px;
  left: 85%;
  padding-top: 8px;
  position: fixed;
  text-align: center;
  top: 95%;
  width: 180px;
  z-index: 10;
}
