.main-container {
  height: 100vh;
  padding: 50px 0 0;
}

.secondary-container {
  background-color: #eaf1ef;
  border-radius: 15px;
  box-shadow: -8px 9px 8px -4px #71ecbf;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 450px;
}

.container-error-message {
  display: flex;
  font-weight: 700;
  justify-content: center;
  margin-bottom: 20px;
}

.login-form-button {
  background-color: #036b52;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.login-form-button:hover {
  background-color: transparent;
  border: 1px solid #036b52;
  color: black;
  transition: 0.4s ease-out;
}

.login-form-button-register {
  background-color: transparent;
  border: 1px solid #036b52;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 20px;
}

.login-form-button-register:hover {
  background-color: #036b52;
  border: none;
  color: white;
  transition: 0.4s ease-out;
}
