.navbar {
  background-color: #036b52;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  margin-right: 0;
}

.navbar-text {
  color: white;
  font-weight: 600;
}

.logo {
  align-items: center;
  background-color: yellowgreen;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.name {
  background-color: #421981;
  color: white;
  font-weight: 600;
  padding: 13px;
}

.orders {
  padding-left: 20px;
}

.products-container {
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;
}

.products {
  background-color: #2fc18c;
  margin: 0;
  padding: 13px;
}

.exit {
  background-color: #056cf9;
  padding: 13px;
}
