
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
  font-family: 'Kalam', cursive;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #252525; */
  background-color: #ffffff;
  height: 100vh;
}